*.md linguist-documentation=true 
*.txt linguist-documentation=true 
*.json linguist-documentation=true 
*.xlsx linguist-vendored=true 
docs/screenshots/* linguist-documentation=true 
assets/* linguist-vendored=true 
